* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 13%, rgba(9,9,121,1) 67%, rgba(76,79,157,1) 100%);
font-family: "Poppins", serif;
}
.App {
  display: flex;
  min-height: 100vh;
}

.sideBar {
  flex: 3;
  border-right: 1px solid rgb(100, 100, 100);
}

.brand{
  color: rgba(222, 222, 222, 1);
}

.main {
  flex: 9;
}

.logo {
  margin-right: 1rem;
  width: 4.5rem;
  display: flex;
}

.brand {
  font-size: 2rem;
}

.upperSide {
  padding: 2.5rem;
  border-bottom: 1px solid rgb(100, 100, 100);
  height: 70%;
}

.upperSideTop {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
}

.addBtn {
  height: 2rem;
  padding-right: 1rem;
}

.midBtn {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 31%, rgba(76,79,157,1) 100%);
  color: white;
  padding: 1.5rem;
  font-size: 1.5rem;
  border: none;
  width: 25rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.query {
  display: flex;
  align-items: center;
  background: transparent;
  padding: 1.5rem;
  width: 25rem;
  margin: 1rem auto;
  border-radius: 0.5rem;
  border: 1px solid rgba(98, 98, 98, 1);
  color: rgba(222, 222, 222, 1);

}

.query img {
  margin-right: 2rem;
  object-fit: cover;
  height: 1.75rem;
}


.lowerSide {
  padding: 2rem;
}

.listItems {
  margin: 0.75rem;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  color: rgba(222, 222, 222, 1);
}

.listItemsImg {
  margin: 1rem;
  padding-right: 1rem;
}

.listItems:nth-child(1)>.listItemsImg {
  margin-right: 0.5rem;
}

.listItems:nth-child(3)>.listItemsImg {
  margin-right: 0.75rem;
}


.main {
  min-height: calc(100vh - 14rem);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 6rem 10rem;
  margin-bottom: 0;
}

.chats {
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 100%;
  max-width: 70rem;
  height: calc(100vh - 17rem);
}

.chat {
  margin: 1rem;
  padding: 2rem 3rem;
  font-size: 1.2rem;
  display: flex;
  align-items: flex-start;
  text-align: justify;
  background: rgba(13, 16, 64, 0.814);
  border-radius: 2rem;
}

.chatimg {
  width: 4rem;
  object-fit: contain;
  border-radius: 1.5rem;
  margin-right: 2rem;
}

.bot {
  background: rgb(9,9,121);
background: linear-gradient(90deg, rgba(9,9,121,1) 31%, rgba(62,65,151,1) 100%);
  width: fit-content;
  border-radius: 2rem;
}

.chatFooter {
  margin-top: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inp {
  padding: 0.5rem;
  background: rgba(13, 16, 64, 0.462);
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  width: 60rem;
}

.inp>input,
.send {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.inp>input {
  width: calc(100% - 3rem);
  outline: none;
  padding: 1.25rem;
  color: white;
}

.chatFooter>p {
  margin: 2rem 0;
  color: white;
}

.txt{
  line-height: 2.4rem;
  color: rgba(222, 222, 222, 1);
}